{
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "settings": {
    "polyfills": ["promises"]
  },
  "plugins": ["compat"],
  "rules": {
    "compat/compat": "error"
  }
}
